USE [master]
GO
/****** Object:  Database [Admisiones]    Script Date: 8/31/2021 4:45:40 PM ******/
CREATE DATABASE [Admisiones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Admisiones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.AD2C2021\MSSQL\DATA\Admisiones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Admisiones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.AD2C2021\MSSQL\DATA\Admisiones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Admisiones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Admisiones]
GO
/****** Object:  Table [dbo].[Candidato]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidato](
	[ID_Candidato] [int] IDENTITY(1,1) NOT NULL,
	[ID_Colegio] [int] NULL,
	[ID_Diversificado] [int] NULL,
	[Nombre] [varchar](300) NOT NULL,
	[Apellido] [varchar](300) NOT NULL,
	[Genero] [char](1) NOT NULL,
	[FechaNacimiento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Candidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[ID_Carrera] [int] IDENTITY(1,1) NOT NULL,
	[ID_Facultad] [int] NULL,
	[Nombre] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColegioCandidato]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColegioCandidato](
	[ID_Colegio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](600) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Colegio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descuento]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuento](
	[ID_Descuento] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[PorcentajeDescuento] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Descuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diversificado]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diversificado](
	[ID_Diversificado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](600) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Diversificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[ID_Examen] [int] IDENTITY(1,1) NOT NULL,
	[ID_Candidato] [int] NULL,
	[ID_Carrera] [int] NULL,
	[ID_Descuento] [int] NULL,
	[FechaPrueba] [datetime] NULL,
	[Precio] [decimal](6, 2) NULL,
	[Nota] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examen_detalle]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen_detalle](
	[ID_ExamenDetalle] [int] IDENTITY(1,1) NOT NULL,
	[ID_Examen] [int] NULL,
	[ID_Materia] [int] NULL,
	[NotaArea] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ExamenDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facultad]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facultad](
	[ID_Facultad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Facultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 8/31/2021 4:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[ID_Materia] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Examen] ADD  DEFAULT (getdate()) FOR [FechaPrueba]
GO
ALTER TABLE [dbo].[Candidato]  WITH CHECK ADD FOREIGN KEY([ID_Colegio])
REFERENCES [dbo].[ColegioCandidato] ([ID_Colegio])
GO
ALTER TABLE [dbo].[Candidato]  WITH CHECK ADD FOREIGN KEY([ID_Diversificado])
REFERENCES [dbo].[Diversificado] ([ID_Diversificado])
GO
ALTER TABLE [dbo].[Carrera]  WITH CHECK ADD FOREIGN KEY([ID_Facultad])
REFERENCES [dbo].[Facultad] ([ID_Facultad])
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD FOREIGN KEY([ID_Candidato])
REFERENCES [dbo].[Candidato] ([ID_Candidato])
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD FOREIGN KEY([ID_Carrera])
REFERENCES [dbo].[Carrera] ([ID_Carrera])
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD FOREIGN KEY([ID_Descuento])
REFERENCES [dbo].[Descuento] ([ID_Descuento])
GO
ALTER TABLE [dbo].[Examen_detalle]  WITH CHECK ADD FOREIGN KEY([ID_Examen])
REFERENCES [dbo].[Examen] ([ID_Examen])
GO
ALTER TABLE [dbo].[Examen_detalle]  WITH CHECK ADD FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[Materia] ([ID_Materia])
GO
USE [master]
GO
